
body {
    background: #e8f1f8;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


}
#contenedor
 { width: 90%; height: auto; margin: 20px auto; padding: 20px; background: white; }
 
.resaltado {
    color: #0077cc;
    background: #d9f0ff;
    font-weight: bold;
    padding: 3px;
}

.imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #243b55;
    color: white;
    padding: 12px;
}

td {
    border: 1px solid #cccccc;
    padding: 12px;
}

li {
    margin: 10px;
    padding: 5px;
}



